@tailwind base;
@tailwind components;
@tailwind utilities;

.column-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 98vh;
    overflow-x: scroll;
}
.column {
    min-width: 24em;
    max-width: 90vw;
    margin-top: 1%;
    margin-left: 1%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.column iframe {
    flex-grow: 1;
}

#add-column-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    margin: 1em;
    padding: 0.5em 1em;
}
