@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.column-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    padding: .5em .5em;
    gap: 1em;
}
.column {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.column iframe {
    flex-grow: 1;
}

#add-column-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    margin: 1em;
    padding: 0.5em 1em;
}
